# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# object files
*.o
*.so

# RStudio files
.Rproj.user/

# copied/generated
pkg/DESCRIPTION

# produced vignettes and docs
vignettes/*.html
vignettes/*.pdf
man/*.Rd
.Rproj.user
